:root {
  --clr-primary-800: hsl(292deg 42% 14%);
  --clr-primary-400: hsl(292deg 16% 49%);
  --clr-primary-100: hsl(275deg 100% 97%);

  --clr-neutral-100: hsl(0deg 0% 100%);

  --ff-base: "Work Sans", sans-serif;

  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --heading-size-1: 2rem;
  --heading-size-2: 1rem;
  --paragraph-size: 0.875rem;

  @media (min-width: 600px) {
    --heading-size-1: 3.5rem;
    --heading-size-2: 1.125rem;
    --paragraph-size: 1rem;
  }
}

/* CSS reset */

* {
  margin: 0;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

/* Main CSS */

html,
body {
  min-height: 100dvh;
}

body {
  display: grid;
  place-content: center;
  grid-template-columns: 1fr;
  margin: 0 1.5rem;
  background-color: var(--clr-primary-100);
  background-image: url(./assets/images/background-pattern-mobile.svg);
  background-repeat: repeat-x;
  font-family: var(--ff-base);

  @media (min-width: 600px) {
    background-image: url(./assets/images/background-pattern-desktop.svg);
  }
}

.faq {
  --content-padding: 1.5rem;
  --content-spacing: 1.5rem;
  --border-radius: 8px;

  box-sizing: border-box;
  max-width: 600px;
  padding: var(--content-padding);
  margin: var(--content-spacing) auto;
  border-radius: var(--border-radius);
  background-color: var(--clr-neutral-100);

  @media (min-width: 600px) {
    --content-padding: 2.5rem;
    --border-radius: 16px;
  }
}

.faq__header {
  display: flex;
  gap: var(--content-spacing);
  margin-bottom: 0.125rem;

  img {
    width: 24px;
  }

  @media (min-width: 600px) {
    margin-bottom: 0.5rem;

    img {
      width: auto;
    }
  }
}

.faq__title {
  font-size: var(--heading-size-1);
  color: var(--clr-primary-800);
}

details {
  border-top: 1px solid var(--clr-primary-100);

  &:first-of-type {
    border-top: none;
  }

  &[open] {
    .icon-plus {
      display: none;
    }

    .icon-minus {
      display: block;
    }
  }

  .icon-plus {
    display: block;
  }

  .icon-minus {
    display: none;
  }

  summary {
    h2 {
      display: flex;
      gap: var(--content-spacing);
      justify-content: space-between;
      align-items: center;

      padding: 1.375rem 0;
      font-size: var(--heading-size-2);
      font-weight: var(--fw-bold);
      color: var(--clr-primary-800);
    }
  }

  p {
    font-size: var(--paragraph-size);
    line-height: 1.5;
    color: var(--clr-primary-400);
    margin-bottom: 20px;
  }
}

summary {
  list-style: none;

  &::-webkit-details-marker {
    display: none;
  }
}
